<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>

  <body>

    <div class="container">
      <h1>My Form</h1>
      <p><%= title %></p>
      <br>
      <form method="POST" action="/demo">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Alamat</label>
          <textarea class="form-control" name="address" id="address" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Kirim</button>

      </form>
    </div>
    
  </body>
</html>
