<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
	<div class="container">
		<h1>My Form <%= title %> </h1>
		<br>
		<div>email <%= email %> </div>
		<div>alamat <%= address %> </div>

	</div>


</body>

</html>